{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}opportunity{% endblock %}

{% block headerTitle %}
    {% if entity.id %}
        {{ 'mautic.opportunities.menu.edit'|trans({'%name%': entity.name}) }}
    {% else %}
        {{ 'mautic.opportunities.menu.new'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="box-layout">
        <div class="col-md-12 height-auto">
            <div class="pa-md">
                {# Required fields section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.opportunityExternalId) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.contact) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.event) }}
                    </div>
                </div>

                {# Basic information section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.opportunityType) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.leadSource) }}
                    </div>
                </div>

                {# Financial information section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.amount) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.amountUsdollar) }}
                    </div>
                </div>

                {# Sales information section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.salesStage) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(form.abstractBookInformationC) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.probability) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.dateClosed) }}
                    </div>
                </div>
                {# Academic/Conference section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.institutionC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.paperTitleC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.coAuthorsNamesC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.presentationTypeC) }}
                    </div>
                </div>

                {# Registration and Payment section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.registrationTypeC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.paymentStatusC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.paymentChannelC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.couponCodeC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.transactionIdC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.reviewResultC) }}
                    </div>
                </div>

                {# URLs and Attachments section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.abstractReviewResultUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.invoiceUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.invitationUrl) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.invitationLetterUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.salesReceiptUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.abstractAttachmentC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.acceptanceLetterUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.wireTransferAttachmentC) }}
                    </div>
                </div>

                {# Important Dates section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.abstractBookSendDateC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.abstractResultSendDateC) }}
                    </div>
                </div>

                {# Geographic information section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.jjwgMapsAddressC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.jjwgMapsGeocodeStatusC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.jjwgMapsLatC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.jjwgMapsLngC) }}
                    </div>
                </div>

                {# System fields section #}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.suitecrmId) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.abstractResultReadyDateC) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.extraPaperC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.nextStep) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.description) }}
                    </div>
   
                    <div class="col-md-6">
                        {{ form_row(form.abstractC) }}
                    </div>
                </div>

                <div class="row">
                     <div class="col-md-6">
                        {{ form_row(form.keywordsC) }}
                    </div>
                </div>

                {# Boolean options section #}
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.abstractBookDpublicationC) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.smsPermissionC) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.withdrawC) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.deleted) }}
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {#    {% if entity.id %}#}
    {#        <div id="event-contacts"#}
    {#             data-event-id="{{ entity.id }}"#}
    {#             data-contacts-url="{{ path('mautic_event_contacts', {'objectId': entity.id}) }}"#}
    {#             data-search-url="{{ path('mautic_event_contacts_search', {'objectId': entity.id}) }}"#}
    {#             data-attach-url="{{ path('mautic_event_contacts_attach', {'objectId': entity.id}) }}"#}
    {#             data-detach-url-template="{{ path('mautic_event_contacts_detach', {'objectId': entity.id, 'contactId': 'CONTACT_ID'}) }}"#}
    {#             data-remove-label="{{ 'events.contact.remove'|trans }}"#}
    {#             data-search-placeholder="{{ 'events.contact.search_placeholder'|trans }}">#}
    {#            <h3>{% trans %}events.contact.panel{% endtrans %}</h3>#}
    {#            <div class="form-group">#}
    {#                <select id="contact-search" class="form-control" multiple aria-label="{% trans %}events.contact.search_placeholder{% endtrans %}"></select>#}
    {#                <button id="attach-contacts" class="btn btn-primary mt-2" disabled>{% trans %}events.contact.attach{% endtrans %}</button>#}
    {#            </div>#}
    {#        </div>#}
    {#        {{ includeScript('plugins/MauticEventsBundle/Assets/js/events.js') }}#}
    {#    {% endif %}#}
{% endblock %}
